@import "./normalize.css";
@import "./reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
/*
@font-face{
    font-family:’название шрифта’;
    src: local(‘название шрифта’);
    src: url(‘ссылка на шрифт’);
*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px 50px;
  background-color: #425c72;
}
.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 44px;
  line-height: 1.18;
}
.form {
  height: 50px;
  display: flex;
  width: 300px;
  margin-bottom: 15px;
}
.input {
  background-color: white;
  width: 220px;
  padding-left: 10px;
}
.button {
  background-color: red;
  width: 80px;
  color: white;
  font-weight: 700;
}
.geolocation {
  width: 300px;
  height: 30px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 50px auto;
  padding: 30px;
  width: 360px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}
.card-city {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.card-city span {
  display: inline-block;
  vertical-align: text-top;

  padding: 3px 5px;
  background: #e5464f;
  border-radius: 6px;

  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

.card-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-value {
  font-size: 92px;
  line-height: 1;
  color: #000000;
}

.card-value sup {
  font-size: 50%;
}
.card-description {
  font-size: 20px;
  line-height: 1.2;
}
