@import "./normalize.css";
@import "./reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
/*
@font-face{
    font-family:’название шрифта’;
    src: local(‘название шрифта’);
    src: url(‘ссылка на шрифт’);
*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px 50px;
  background-color: #425c72;
}
.title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 44px;
  line-height: 1.18;
}
.form {
  height: 50px;
  display: flex;
  width: 300px;
}
.input {
  background-color: white;
  width: 220px;
  padding-left: 10px;
}
.button {
  background-color: red;
  width: 80px;
  color: white;
  font-weight: 700;
}
